output/spotapps/customer.table.tml
output/spotapps/jordan.burger@keboola.com.pinboard.tml
output/spotapps/Manifest.yaml
output/spotapps/order_line.table.tml
output/spotapps/order.table.tml
output/spotapps/product.table.tml
output/spotapps/Shopify Products.worksheet.tml
